<nav class="navbar navbar-expand-lg bg-body-tertiary" th:fragment="navbar">
  <div class="container-fluid">
      <a class="navbar-brand" routerLink="" >Estoque</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Cadastro
                  </a>
                  <ul class="dropdown-menu">
                      <li><a class="dropdown-item" routerLink="/cadastro-produto">Cadastro de Produto</a></li>
                      <li><a class="dropdown-item" routerLink="/cadastro-estoque">Cadastro de Estoque</a></li>
                      <li><a class="dropdown-item" routerLink="/cadastro-estoque-produto">Cadastro Produto Estoque</a></li>
                  </ul>
              </li>
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Listagem
                  </a>
                  <ul class="dropdown-menu">
                      <li><a class="dropdown-item " routerLink="/produtos-list" >Lista de Produtos</a></li>
                      <li><a class="dropdown-item" routerLink="/estoques-list" >Lista de Estoques</a></li>
                      <li><a class="dropdown-item" routerLink="/produtos-estoque-list" >Lista de Produtos em Estoque</a></li>
                  </ul>
              </li>
          </ul>
          <form class="d-flex" (ngSubmit)="onSearch()">
            <input [(ngModel)]="termo" name="termo" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
      </div>
  </div>
</nav>
