<div class="col-md-6 offset-md-3">
  <div class="container mt-5">
    <h1>Cadastro de Produto em Estoque</h1>
    <form (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="estoque" class="form-label">Selecione o Estoque:</label>
        <select id="estoque" [(ngModel)]="estoqueProduto.estoqueId" name="estoqueId" class="form-select" required>
          <option *ngFor="let estoque of estoques" [value]="estoque.id">{{ estoque.nome }}</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="produto" class="form-label">Selecione o Produto:</label>
        <select id="produto" [(ngModel)]="estoqueProduto.produtoId" name="produtoId" class="form-select" required>
          <option *ngFor="let produto of produtos" [value]="produto.id">{{ produto.nome }}</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="quantidade" class="form-label">Quantidade:</label>
        <input [(ngModel)]="estoqueProduto.quantidade" min="1" max="100"  type="number" id="quantidade" name="quantidade" class="form-control" required/>
      </div>
      <button type="submit" class="btn btn-success">Cadastrar Produto no Estoque</button>
    </form>
  </div>
</div>
