<div class="container">
  <h2>Estoque list</h2>
  <table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let estoque of estoques">
          <td><a [routerLink]="['/estoques', estoque.id]">{{ estoque.id }}</a></td>
          <td>{{ estoque.nome }}</td>
          <td>
              <button *ngIf="estoque.id !== undefined" (click)="updateEstoque(estoque.id)" class="btn btn-info">Update</button>
            </td>
        </tr>
    </tbody>
  </table>
  </div>
