<div class="container ">
  <h2 >Lista de Estoques</h2>
  <div class="table-responsive" style="min-height: 520px;"> <!-- Defina uma altura mínima para o contêiner -->
    <table class="table table-striped table-bordered">
      <thead class="thead-dark">
        <tr>
          <th class="col-2">ID</th>
          <th class="col-6">Nome</th>
          <th class="col-4">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let estoque of estoques | paginate: { itemsPerPage: itemsPerPage, currentPage: page }">
          <td class="col-2"><a [routerLink]="['/estoques', estoque.id]">{{ estoque.id }}</a></td>
          <td class="col-6">{{ estoque.nome }}</td>
          <td class="col-4">
            <button *ngIf="estoque.id !== undefined" (click)="updateEstoque(estoque.id)" class="btn btn-info btn-sm">Update</button>
            <button *ngIf="estoque.id !== undefined" (click)="confirmDelete(estoque.id)" class="btn btn-danger btn-sm ms-2">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="d-flex justify-content-between align-items-center">
    <div>
      <label for="itemsPerPage" class="form-label">Itens por página:</label>
      <select [(ngModel)]="itemsPerPage" id="itemsPerPage" class="form-select" style="width: auto; display: inline-block;">
        <option *ngFor="let option of [5, 10, 15, 20]" [value]="option">{{ option }}</option>
      </select>
    </div>
    <div class="d-flex justify-content-center flex-grow-1">
      <div class="me-5">
        <pagination-controls (pageChange)="page = $event"></pagination-controls>
      </div>
    </div>
  </div>
</div>
