<div class="container mt-5">
  <h2 class="text-center mb-4">Lista de Produtos</h2>
  <div class="table-responsive" style="min-height: 520px;"> <!-- Defina uma altura mínima para o contêiner -->
    <table class="table table-striped table-bordered">
      <thead class="thead-dark">
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>Descrição</th>
          <th>Preço</th>
          <th>Update</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let produto of produtos | paginate: { id: 'produto-pagination', itemsPerPage: itemsPerPage, currentPage: page, totalItems: totalElements }">
          <td><a [routerLink]="['/produtos', produto.id]">{{ produto.id }}</a></td>
          <td>{{ produto.nome }}</td>
          <td>{{ produto.descricao }}</td>
          <td>{{ produto.preco | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}</td>
          <td>
            <button *ngIf="produto.id !== undefined" (click)="updateProduto(produto.id)" class="btn btn-info btn-sm">Update</button>
          </td>
          <td>
            <button *ngIf="produto.id !== undefined" (click)="confirmDelete(produto.id)" class="btn btn-danger btn-sm ms-2">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="d-flex flex-column flex-md-row justify-content-between align-items-center mt-3">
    <div class="mb-2 mb-md-0">
      <label for="itemsPerPage" class="form-label">Itens por página:</label>
      <select [(ngModel)]="itemsPerPage" (change)="onItemsPerPageChange()" id="itemsPerPage" class="form-select" style="width: auto; display: inline-block;">
        <option *ngFor="let option of [5, 10, 15, 20]" [value]="option">{{ option }}</option>
      </select>
    </div>
    <div class="d-flex justify-content-center flex-grow-1">
      <pagination-controls id="produto-pagination" (pageChange)="onPageChange($event)"></pagination-controls>
    </div>
  </div>
</div>
