<div class="container mt-5">
  <h1>Lista de Produtos em Estoque</h1>
  <table class="table table-striped">
      <thead>
          <tr>
              <th>ID</th>
              <th>Nome do estoque</th>
              <th>Preço total estoque R$</th>
              <th>Nome do produto</th>
              <th>Quantidade em estoque</th>
              <th>Preço unidade R$</th>
              <th>Preço total do produto R$</th>
              <th>Ações</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let produtoEstoque of produtoEstoques; let i = index">
              <td>{{ produtoEstoque.id }}</td>
              <td>{{ produtoEstoque.estoque?.nome }}</td>
              <td>{{ calcularTotalEstoque(produtoEstoque.estoque?.id ?? 0) | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}</td>
              <td>{{ produtoEstoque.produto?.nome }}</td>
              <td>{{ produtoEstoque.quantidade }}</td>
              <td>{{ produtoEstoque.produto?.preco | currency:'BRL':'symbol':'1.2-2':'pt-BR'  }}</td>
              <td>{{ precosTotaisProdutos[i] | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}</td>
              <td>
                <button *ngIf="produtoEstoque.id !== undefined" (click)="updateProdutoEstoque(produtoEstoque.id)" class="btn btn-info">Update</button>
              </td>
          </tr>
      </tbody>
  </table>
  <h2>Preço total todos os estoques: {{ precoTotalEstoque | currency:'BRL':'symbol':'1.2-2':'pt-BR'  }}</h2>
</div>

