<div class="container mt-5">
  <div class="jumbotron">
      <h1 class="display-4">Bem-vindo ao Sistema de Estoque!</h1>
      <p class="lead">Gerencie seus produtos e estoques de forma eficiente e organizada.</p>
      <hr class="my-4">
      <p>Utilize o menu acima para navegar entre as funcionalidades do sistema.</p>
      <a class="btn btn-primary btn-lg" routerLink="/produtos-list" role="button">Lista de Produtos</a>
  </div>

  <div class="row mt-5">
      <div class="col-12 col-md-4 mb-4">
          <h2>Cadastro de Produtos</h2>
          <p>Cadastre novos produtos no sistema para gerenciar seu estoque de forma eficiente.</p>
          <a class="btn btn-secondary" routerLink="/cadastro-produto" role="button">Cadastrar Produto &raquo;</a>
      </div>
      <div class="col-12 col-md-4 mb-4">
          <h2>Cadastro de Estoques</h2>
          <p>Cadastre novos estoques para organizar melhor seus produtos.</p>
          <a class="btn btn-secondary" href="/cadastro-estoque" role="button">Cadastrar Estoque &raquo;</a>
      </div>
      <div class="col-12 col-md-4 mb-4">
          <h2>Cadastro de Produtos no Estoque</h2>
          <p>Cadastre produtos no seu estoque.</p>
          <a class="btn btn-secondary" href="/cadastro-produto-estoquee" role="button">Cadastrar Produtos Estoque &raquo;</a>
      </div>
  </div>
</div>
